/****** Variables ***********/
:root {
    --main-first-color: #9356DC;
    --main-second-color: #FF79DA;
    --main-third-color: #99E2D0;
}

/****** heart checkbox ***********/

.heart-checkbox {
    display: inline-block;
    position: relative;
    width: 32px; /* Largeur du conteneur */
    height: 30px; /* Hauteur du conteneur */
    cursor: pointer;
}

.heart-checkbox input[type="checkbox"] {
    opacity: 0; /* Rendre la checkbox invisible */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.heart-icon {
    width: 100%; /* Taille du cœur */
    height: 100%;
    fill: transparent; /* Couleur de remplissage par défaut */
    stroke: #101010; /* Couleur du contour par défaut */
    transition: fill 0.3s ease; /* Animation de transition pour le remplissage */
}

/* Style pour le cœur coché */
.heart-checkbox input[type="checkbox"]:checked + .heart-icon {
    fill: #9356DC; /* Couleur de remplissage lorsque la checkbox est cochée */
    stroke: none;
}



/****** General ***********/
body { 
    box-sizing: border-box;
    margin: 0;
}

.main {
    font-family: 'Roboto';
}

.button {
    background: linear-gradient(var(--main-second-color), var(--main-first-color));
    height: 50px;
    border-radius: 25px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 16px;
    padding: 0 20px;

    &:hover {
        filter: brightness(1.25);
    }
}

a {
    text-decoration: none;
    color: inherit;
}

/****** Header ***********/
.header {
    height: 63px;
    position: relative;
    font-family: "Shrikhand", serif;
    font-size: 30px;
    font-weight: 400;
    z-index: 1;

    &__logo-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__logo-text {
        font-size: inherit;
    }
}

/****** Location ***********/
.location {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 50px;
    gap: 17px;
    z-index: 2;

    &__icon {
        color: inherit;
    }

    &__text {
        color: inherit;
    }
}

/****** Info ***********/
.info {
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 25px 35px;
    text-align: center;

    &__group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-size: 24px;
        margin-top: 30px;
        line-height: 28px;
        font-weight: 700;
    }

    &__description {
        margin-top: 0;
        font-size: inherit;
        font-weight: 300;
    }

    &__link {
        text-decoration: none;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

/****** Fonctionnement ***********/
.fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: left;


    &__title {
        margin-left: 25px;
        font-size: 24px;
        font-weight: 700;
    }

    &__step {
        width: 84%;
        border-radius: 20px;
        height: 72px;
        display: flex;
        align-items: center;
        background-color: #F6F6F6;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        position: relative;
        margin-bottom: 30px;
        margin-left: 8%;
        margin-right: 8%;
    }

    &__ellipse {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: var(--main-first-color);
        color: white;
        position: absolute;
        left: -15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__step-number {
        line-height: 24px;
        font-size: 14px;
    }

    &__icon {
        padding-left: 30px;
        padding-right: 25px;
        color: #7E7E7E;
    }

    &__text {
        font-size: 16px;
        font-weight: 500;
    }
}

/****** Restaurants ***********/
.restaurants {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #F6F6F6;
    gap: 18px;
    padding-top: 50px;
    padding-bottom: 60px;

    &__title {
        margin-left: 25px;
        font-size: 24px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 0;
    }

    &__card {
        width: 90%;
        height: 251px;
        background-color: white;
        display: flex;
        flex-direction: column;
        margin: auto;
        border-radius: 25px;

        &__image {
            width: 100%;
            height: 70%;
            object-fit: cover;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
        }

        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 15px;
            padding-right: 25px;
        }

        &__title {
            margin-top: 10px;
            margin-bottom: 0;
        }

        &__location {
            margin-top: 8px;
        }
    }

}


/****** Footer ***********/
.footer {
    background-color: #353535;
    color: white;
    padding: 22px 25px;

    &__logo {
        font-family: "Shrikhand", serif;
        font-size: 18px;
        font-weight: 400;
    }

    &__list {
        list-style-type: none;
        padding-left: 0;
        font-family: 'Roboto';
        margin-bottom: 0;

        .footer__item {
            padding-bottom: 7px;

            .footer__link {
                text-decoration: none;
                color: inherit;
                display: flex;
                align-items: center;

                .footer__icon {
                    width: 14px;
                    margin-right: 10px; // Ajout de la marge à droite pour l'icône
                    font-size: 14px;
                }

                .footer__text {
                    color: inherit;
                }
            }
        }
    }
}


/****** Media queries ***********/
/* Medium devices (tablets, upper/equal than 768px) */
@media (min-width: 768px) {
    br {
        display: none;
    }
}

/* Large devices (desktops, upper/equal than 1024px) */

@media (min-width: 1024px) {
}