/****** Variables ***********/
:root {
  --main-first-color: #9356DC;
  --main-second-color: #FF79DA;
  --main-third-color: #99E2D0;
}

/****** General ***********/
body {
  box-sizing: border-box;
  margin: 0;
}

.main {
  font-family: "Roboto";
}

.button {
  background: linear-gradient(var(--main-second-color), var(--main-first-color));
  height: 50px;
  border-radius: 25px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: white;
  font-size: 16px;
  padding: 0 20px;
}
.button:hover {
  filter: brightness(1.25);
}

a {
  text-decoration: none;
  color: inherit;
}

/****** Header ***********/
.header {
  height: 63px;
  position: relative;
  font-family: "Shrikhand", serif;
  font-size: 30px;
  font-weight: 400;
}
.header__logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__logo-text {
  font-size: inherit;
}

/****** Location ***********/
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  height: 50px;
  gap: 17px;
}
.location__icon {
  color: inherit;
}
.location__text {
  color: inherit;
}

/****** Info ***********/
.info {
  background-color: #F3F3F3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px 35px;
  text-align: center;
}
.info__group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info__title {
  font-size: inherit;
}
.info__description {
  font-size: inherit;
}
.info__link {
  text-decoration: none;
}

/****** Fonctionnement ***********/
.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 10%;
  margin-right: 10%;
}
.fonctionnement__title {
  margin-left: -15px;
  font-size: 24px;
  font-weight: 700;
}
.fonctionnement__step {
  width: 100%;
  border-radius: 20px;
  height: 72px;
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  margin-bottom: 30px;
}
.fonctionnement__ellipse {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--main-first-color);
  color: white;
  position: absolute;
  left: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fonctionnement__step-number {
  line-height: 24px;
  font-size: 14px;
}
.fonctionnement__icon {
  padding-left: 30px;
  padding-right: 25px;
  color: #7E7E7E;
}
.fonctionnement__text {
  font-size: 16px;
  font-weight: 500;
}

/****** Restaurants ***********/
.restaurants {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 10%;
  margin-right: 10%;
}
.restaurants__title {
  margin-left: -15px;
  font-size: 24px;
  font-weight: 700;
}

/****** Footer ***********/
.footer {
  background-color: #353535;
  color: white;
  padding: 22px 25px;
}
.footer__logo {
  font-family: "Shrikhand", serif;
  font-size: 18px;
  font-weight: 400;
}
.footer__list {
  list-style-type: none;
  padding-left: 0;
  font-family: "Roboto";
}
.footer__list__item {
  padding-bottom: 7px;
}
.footer__list__item__link {
  text-decoration: none;
  color: inherit;
}
.footer__list__item__link__icon {
  height: 13px;
  width: 11px;
  font-size: 14px;
}
.footer__list__item__link__text {
  color: inherit;
}

/****** Media queries ***********/
/* Medium devices (tablets, upper/equal than 768px) */
/* Large devices (desktops, upper/equal than 1024px) */

/*# sourceMappingURL=styles.css.map */
