/****** Animations items delay ***********/

#entrees {
    opacity: 0; 
    animation: fadeIn 1s forwards 0.5s; 

    .menu__item__label {
        @for $i from 1 through 10 {
            &:nth-of-type(#{$i}) {
            animation-delay: 0.5 + $i * 0.5s; 
            }
        }
    }
}

#plats{
    opacity: 0; 
    animation: fadeIn 1s forwards 2.5s; 

    .menu__item__label {
        @for $i from 1 through 10 {
            &:nth-of-type(#{$i}) {
            animation-delay: 2.5 + $i * 0.5s; 
            }
        }
    }
}

#desserts {
    opacity: 0; 
    animation: fadeIn 1s forwards 4.5s; 

    .menu__item__label {
        @for $i from 1 through 10 {
            &:nth-of-type(#{$i}) {
            animation-delay: 4.5 + $i * 0.5s; 
            }
        }
    }
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }