/****** Variables ***********/
:root {
  --main-first-color: #9356DC;
  --main-second-color: #FF79DA;
  --main-third-color: #99E2D0;
  --main-font-family: "Roboto";
}

/****** General ***********/
body {
  box-sizing: border-box;
  margin: 0;
  min-width: 320px;
}

.main {
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: inherit;
}

/****** heart checkbox ***********/
.heart-checkbox {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 30px;
  cursor: pointer;
}
.heart-checkbox .heart-icon {
  width: 100%;
  height: 100%;
}
.heart-checkbox .heart-icon .gradient-fill {
  fill: url(#gradient);
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  transition: clip-path 1s ease-in-out;
  stroke: none;
}
.heart-checkbox .heart-icon .outline {
  fill: transparent;
  stroke: #101010;
}
.heart-checkbox input[type=checkbox] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.heart-checkbox input[type=checkbox]:checked + .heart-icon .gradient-fill {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.heart-checkbox input[type=checkbox]:checked + .heart-icon .outline {
  stroke: none;
}

/****** buttons ***********/
.button {
  background: linear-gradient(var(--main-second-color) -11.44%, var(--main-first-color) 123.93%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3490196078);
  height: 50px;
  border-radius: 25px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: white;
  font-size: 16px;
  padding: 0 20px;
  margin: auto;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.button:hover {
  background-color: linear-gradient(193.33deg, var(--main-second-color) -11.44%, var(--main-first-color) 123.93%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
  opacity: 0.9;
  transform: translateY(-2px);
}

/****** Loader ***********/
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeOut 2.5s forwards;
}
.loader-wrapper .loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid var(--main-first-color);
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  50% {
    opacity: 0.99;
    visibility: visible;
  }
  90% {
    opacity: 0.85;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/****** Restaurants menu ***********/
.menu-image {
  max-height: 250px;
  object-fit: cover;
  width: 100%;
}

label .menu__item__checkbox:checked ~ .menu__item__selected {
  width: 59px;
}

label .menu__item__checkbox:checked ~ .menu__item__selected .menu__item__selected__icon {
  opacity: 1;
  transition-delay: 1s;
}

label .menu__item__checkbox:checked ~ .menu__item__details {
  padding-right: 59px;
}

.menu {
  background-color: #F6F6F6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  top: -40px;
  justify-content: center;
  max-width: 1055px;
  margin-left: auto;
  margin-right: auto;
  /****** Animations items delay ***********/
}
.menu #entrees {
  opacity: 0;
  animation: fadeIn 1s forwards 0.5s;
}
.menu #entrees .menu__item__label:nth-of-type(1) {
  animation-delay: 1s;
}
.menu #entrees .menu__item__label:nth-of-type(2) {
  animation-delay: 1.5s;
}
.menu #entrees .menu__item__label:nth-of-type(3) {
  animation-delay: 2s;
}
.menu #plats {
  opacity: 0;
  animation: fadeIn 1s forwards 2.5s;
}
.menu #plats .menu__item__label:nth-of-type(1) {
  animation-delay: 3s;
}
.menu #plats .menu__item__label:nth-of-type(2) {
  animation-delay: 3.5s;
}
.menu #plats .menu__item__label:nth-of-type(3) {
  animation-delay: 4s;
}
.menu #desserts {
  opacity: 0;
  animation: fadeIn 1s forwards 4.5s;
}
.menu #desserts .menu__item__label:nth-of-type(1) {
  animation-delay: 5s;
}
.menu #desserts .menu__item__label:nth-of-type(2) {
  animation-delay: 5.5s;
}
.menu #desserts .menu__item__label:nth-of-type(3) {
  animation-delay: 6s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu .menu__item__label {
  opacity: 0;
  animation: fadeIn 1s forwards;
}
.menu__headline {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  align-items: center;
}
.menu__headline .restaurant-name {
  font-family: "Shrikhand", serif;
  font-size: 28px;
  font-weight: 400;
  margin-top: 23px;
  margin-bottom: 23px;
}
.menu__category-title {
  text-transform: uppercase;
  font-family: var(--main-font-family);
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 5px;
  width: 90%;
  margin: auto;
}
.menu__category-title__underline {
  width: 40px;
  height: 3px;
  margin-left: 5%;
  background-color: var(--main-third-color);
  margin-bottom: 12px;
}
.menu__item {
  width: 90%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: #FFFFFF;
  height: 69px;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  flex-direction: column;
  padding: 12px 15px 10px 15px;
  box-sizing: border-box;
  position: relative;
}
.menu__item__checkbox {
  display: none;
}
.menu__item__label {
  cursor: pointer;
  width: 100%;
  height: 69px;
}
.menu__item__name {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
  text-align: left;
  max-width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__item__selected {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 0px;
  height: 100%;
  background-color: var(--main-third-color);
  transition: width 1s ease-in-out 0.2s;
}
.menu__item__selected__icon {
  color: white;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.menu__item__details {
  display: flex;
  justify-content: space-between;
  padding-top: 4px;
  font-size: 15px;
  padding-right: 0;
  transition: padding-right 1s ease-in-out 0.2s;
}
.menu__item__details .menu__item__description {
  font-weight: 300;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__item__details .menu__item__price {
  font-weight: 700;
  transition: padding-right 0.3s ease-in-out;
}
.menu__order {
  display: flex;
  justify-content: center;
}
.menu__order__button {
  width: 186px;
  margin-top: 15px;
  margin-bottom: 40px;
}

/****** Header ***********/
.header {
  height: 63px;
  position: relative;
  font-family: "Shrikhand", serif;
  font-size: 30px;
  font-weight: 400;
  z-index: 1;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.header__logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__back-icon {
  padding-left: 23px;
  padding-bottom: 15px;
  font-size: 16px;
}

/****** Location ***********/
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  height: 50px;
  gap: 17px;
  z-index: 2;
  margin-bottom: 7px;
}
.location__icon {
  color: inherit;
}
.location__text {
  color: inherit;
}

/****** Info ***********/
.info {
  background-color: #F6F6F6;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px 35px;
  text-align: center;
}
.info__group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info__title {
  font-size: 24px;
  margin-top: 30px;
  line-height: 28px;
  font-weight: 700;
}
.info__description {
  margin-top: 0;
  font-size: inherit;
  font-weight: 300;
}
.info__link {
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 15px;
}

/****** Fonctionnement ***********/
.fonctionnement {
  display: flex;
  flex-direction: column;
}
.fonctionnement__title {
  margin-left: 25px;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
}
.fonctionnement__step {
  width: 84%;
  border-radius: 20px;
  height: 72px;
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  margin-bottom: 30px;
  margin-left: 8%;
  margin-right: 8%;
}
.fonctionnement__ellipse {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--main-first-color);
  color: white;
  position: absolute;
  left: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fonctionnement__step-number {
  line-height: 24px;
  font-size: 14px;
}
.fonctionnement__icon {
  padding-left: 30px;
  padding-right: 15px;
  color: #7E7E7E;
}
.fonctionnement__text {
  font-size: 16px;
  font-weight: 500;
}

/****** Restaurants ***********/
.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  gap: 18px;
  padding-top: 50px;
  padding-bottom: 60px;
}
.restaurants__title {
  margin-left: 25px;
  font-size: 24px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}
.restaurants__card {
  width: 90%;
  height: 251px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0 auto 30px auto;
  border-radius: 25px;
  position: relative;
}
.restaurants__card .new-label {
  width: 80px;
  height: 29px;
  background-color: var(--main-third-color);
  position: absolute;
  top: 15px;
  right: 15px;
  text-align: center;
  border-radius: 2px;
}
.restaurants__card .new-label__text {
  color: #008766;
  font-family: var(--main-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 29px;
}
.restaurants__card__image {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.restaurants__card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 25px;
}
.restaurants__card__title {
  margin-top: 10px;
  margin-bottom: 0;
}
.restaurants__card__location {
  margin-top: 8px;
}

/****** Footer ***********/
.footer {
  background-color: #353535;
  color: white;
  padding: 22px 25px;
  margin-top: -40px;
}
.footer__logo {
  font-family: "Shrikhand", serif;
  font-size: 18px;
  font-weight: 400;
}
.footer__list {
  list-style-type: none;
  padding-left: 0;
  font-family: "Roboto";
  margin-bottom: 0;
}
.footer__list .footer__item {
  padding-bottom: 7px;
}
.footer__list .footer__item .footer__link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}
.footer__list .footer__item .footer__link .footer__icon {
  width: 14px;
  margin-right: 10px;
  font-size: 14px;
}
.footer__list .footer__item .footer__link .footer__text {
  color: inherit;
}

/****** Media queries ***********/
/* Medium devices (tablets, upper/equal than 768px) */
@media (min-width: 768px) {
  br {
    display: none;
  }
  .menu-image {
    max-height: 300px;
  }
  .menu__headline {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .heart-checkbox {
    margin-left: 30px;
  }
}
/* Large devices (desktops, upper/equal than 1024px) */
@media (min-width: 1024px) {
  .menu-image {
    max-height: 383px;
  }
  .section__title {
    width: 90%;
    max-width: 1300px;
    margin: 0px auto 20px auto;
  }
  footer {
    height: 114px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
  footer span.footer__logo {
    padding-top: 50px;
    padding-right: 50px;
    display: flex;
  }
  footer ul.footer__list {
    padding-top: 50px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    margin-right: 40px;
  }
  footer li.footer__item {
    margin-right: 30px;
  }
  .fonctionnement__steps {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 1300px;
  }
  .fonctionnement__step {
    margin-left: 2%;
    margin-right: 2%;
  }
  .restaurants__title {
    margin-bottom: 30px;
  }
  .restaurants__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
  }
  .restaurants__card {
    margin-bottom: 40px;
    max-width: 700px;
  }
}
/* Extra Large devices (desktops, upper/equal than 1440px) */
@media (min-width: 1440px) {
  .fonctionnement__steps {
    width: 90%;
    margin: 0 auto;
  }
  .fonctionnement__step {
    min-width: 360px;
  }
}

/*# sourceMappingURL=styles.css.map */
