.button {
    background: linear-gradient( var(--main-second-color) -11.44%, var(--main-first-color) 123.93%);
    box-shadow: 0px 4px 4px 0px #00000059;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-family: var(--main-font-family);
    font-weight: 500;
    font-style: normal;
    color: var(--neutral-color);
    font-size: 16px;
    padding: 0 20px;
    margin: auto;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out, opacity 0.5s ease-in-out;

    &:hover {
        box-shadow: 0px 4px 15px 0px #00000059;
        opacity: 0.9;
        transform: translateY(-2px);
    }

}