:root {
    --main-first-color: #9356DC;
    --main-second-color: #FF79DA;
    --main-third-color: #99E2D0;

    --neutral-color: #FFFFFF;

    --main-font-family: 'Roboto', 'sans-serif';
    --title-and-logo-font-family: "Shrikhand", serif;
}